@font-face
{
  font-family: Lato;
  src: url('Lato.ttf');
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Lato;
}
.navbar-brand {
  font-size: 48px;
  color: #fff!important;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.page-header {
  border-color: #666;
}
.content {
	/*margin-top: 50px;*/
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
#content-container{
  position: absolute;
  top: 50px;
  height: calc(100% - 50px);
  width: 100%;
}
#slides-wrapper {
  width: 1012px;
  height: 412px;
  background-color: white;
  border: 1px solid #ccc;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
  margin: 20px auto;
}
#welcome-slides {
  height: 400px;
  width: 1000px;
  margin: 5px;
}
.cohort-icon {
  width: 70px;
  height: 70px;
  margin-top: 10px;
  padding: 3px;
  border: 1px dashed;
}
.input-group-addon {
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  background-repeat: repeat-x;
  border-color: #ccc;
}