<section ng-controller="ListMomsCtrl" data-ng-init="find()">
  <div class="page-header">
    <h1>Minutes of Meeting</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="mom in moms" data-ng-href="#!/moms/{{mom._id}}">
      <div class="sticky-note yellow">
        <div class="sticky-note-inner">
          <small class="mom-details">
            Posted on
            <span data-ng-bind="mom.created | date:'medium'"></span>
            by
            <span data-ng-bind="mom.creator.displayName"></span>
          </small>
          <h1 class="mom-title" data-ng-bind="mom.name"></h1>
        </div>
      </div>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!moms.$resolved || moms.length">
    No Moms yet, why don't you <a href="/#!/moms/create">create one</a>?
  </div>
</section>