<section data-ng-controller="ViewMomCtrl" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="mom.name"></h1>
  </div>
  <div class="pull-right" ng-show="((authentication.user) && (authentication.user._id == mom.creator._id))">
    <a class="btn btn-primary" href="/#!/moms/{{mom._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="mom.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="mom.creator.displayName"></span>
    </em>
  </small>
  <div class="row mom-wrapper">
    <div class="col-md-10 mom-contents"></div>
    <div class="col-md-2 mom-attendees">
      <ul>
        <li ng-repeat="attendee in attendees" style="{{attendee.backgroundColor}}">{{attendee.name}}</li>
      </ul>
    </div>
  </div>
</section>
