<section data-ng-controller="MomsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="mom.name"></h1>
  </div>
  <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == mom.user._id))">
    <a class="btn btn-primary" href="/#!/moms/{{mom._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="mom.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="mom.user.displayName"></span>
    </em>
  </small>
  <div class="col-md-12">
    <div class="col-md-10 comment-wrapper"></div>
    <div class="col-md-2"></div>
  </div>
</section>
