<table>
  <thead>
    <th>
      <td>Categories</td>
      <td>Practical Sums</td>
      <td>Operator</td>
      <td>Criteria Sums</td>
      <td>Evaluation result</td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td><img src="cid:pullup@cohort"/></td>
      <td>{{pullups}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><img src="cid:situp@cohort"/></td>
      <td>{{situps}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><img src="cid:running@cohort"/></td>
      <td>{{runnings}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <span></span>
  <span>{{pullups}}</span>
</p>
<p><span><img src="cid:situp@cohort"/></p>
<p><span><img src="cid:running@cohort"/></p>