<div class="one-comment" id="comment{{comment.id}}" ng-repeat="comment in datasource">
  <label class="comment-heading" ng-bind="comment.commenter.displayName"></label>
  <label class="comment-heading" ng-bind="comment.dateTime | date:'MMMM d, y \'at\' h:mm a'"></label>
  <p ng-bind="comment.content"></p>
  <hr/>
</div>
<textarea class="ta-comment" name="newComment" placeholder=" Write a comment..." ng-trim="boolean" ng-class="{'edit-status':commentEditing}" ng-model="commentValue" ng-click="triggerCommentEdit($event)">{{commentValue}}
</textarea>
<div class="row">
  <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="addComment($event)">Add</button>
  <button type="button" class="btn btn-warning btn-sm pull-right" style="margin-right:10px" ng-click="cancelCommentEdit($event)">Cancel</button>
</div>