<section id="create-activity" data-ng-controller="CreateActivityCtrl">
  <div class="page-header">
    <h1>New Activity</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <div class="activity-factor">
            <label><i class="fa fa-leaf fa-lg"></i> Name</label>
            <input type="text" data-ng-model="name" class="form-control" placeholder="Name" required>
          </div>
          <div class="activity-factor">
            <label><i class="fa fa-tags fa-lg"></i> Category</label>
            <div class="btn-group" style="width: 100%;">
              <label class="btn btn-default cat-label" ng-model="category" btn-radio="'basketball'">
                <i class="fa fa-dribbble fa-lg"></i>basketball
              </label>
              <label class="btn btn-default cat-label" ng-model="category" btn-radio="'football'">
                <i class="fa fa-futbol-o fa-lg"></i>football
              </label>
              <label class="btn btn-default cat-label" ng-model="category" btn-radio="'fishing'">
                <i class="fa fa-ticket fa-lg"></i>fishing
              </label>
              <label class="btn btn-default cat-label" ng-model="category" btn-radio="'party'">
                <i class="fa fa-beer fa-lg"></i>party
              </label>
              <label class="btn btn-default cat-label" ng-model="category" btn-radio="'travel'">
                <i class="fa fa-plane fa-lg"></i>travel
              </label>
            </div>
          </div>
          <div class="activity-factor" style="height:80px;">
            <label><i class="fa fa-clock-o fa-lg"></i> Date and Time</label>
            <p class="input-group" style="width:200px;">
              <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="dateTime" is-open="opened" min-date="'1982-01-01'" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <timepicker ng-model="dateTime" hour-step="1" minute-step="1" show-meridian="true" style=" position: relative;top: -78px; left: 250px;"></timepicker>
          </div>
          <div class="activity-factor">
              <label><i class="fa fa-anchor fa-lg"></i> Destination</label>
                <input type="text" data-ng-model="dest" class="form-control" placeholder="Destination" required>
              
            </div>
            <div class="activity-factor">
              <label><i class="fa fa-paper-plane fa-lg"></i> Route</label>
                <input type="text" data-ng-model="route" class="form-control" placeholder="Route">
          </div>
        </div>  
        <div class="form-group">
          <input type="submit" class="btn btn-success pull-right">
        </div>
		<div data-ng-show="error" class="text-danger">
		  <strong data-ng-bind="error"></strong>
		</div>
      </fieldset>
    </form>
  </div>
</section>