<section data-ng-controller="EditActivityCtrl" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Activity</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <div class="row">
            <label class="control-label" for="name"><i class="fa fa-leaf fa-lg"></i>Name</label><p>
            <input type="text" data-ng-model="activity.name" id="name" class="form-control" placeholder="Name" required></p>
          </div>
          <div class="row">
            <label class="control-label"><i class="fa fa-tags fa-lg"></i>Category</label>
            <div class="btn-group" style="width: 100%;">
              <label class="btn btn-info cat-label" ng-model="activity.category" btn-radio="'basketball'">
                <i class="fa fa-dribbble fa-lg"></i>basketball
              </label>
              <label class="btn btn-info cat-label" ng-model="activity.category" btn-radio="'football'">
                <i class="fa fa-futbol-o fa-lg"></i>football
              </label>
              <label class="btn btn-info cat-label" ng-model="activity.category" btn-radio="'fishing'">
                <i class="fa fa-ticket fa-lg"></i>fishing
              </label>
              <label class="btn btn-info cat-label" ng-model="activity.category" btn-radio="'party'">
                <i class="fa fa-beer fa-lg"></i>party
              </label>
              <label class="btn btn-info cat-label" ng-model="activity.category" btn-radio="'travel'">
                <i class="fa fa-plane fa-lg"></i>travel
              </label>
            </div>
          </div>
          <div class="row">
            <label class="control-label"><i class="fa fa-calendar fa-lg"></i>Date and Time</label><br/>
            <div class="col-md-4">
              <p class="input-group" style="top: 20px;">
                <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="activity.dateTime" is-open="opened" min-date="'1982-01-01'" ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            <div class="col-md-4">
              <timepicker ng-model="activity.dateTime" hour-step="1" minute-step="1" show-meridian="true" style=" position: relative;top: -14px;"></timepicker>
            </div>
          </div>
          <div class="row">
            <label class="control-label" for="dest"><i class="fa fa-anchor fa-lg"></i>Destination</label>
            <input type="text" data-ng-model="activity.dest" id="dest" class="form-control" placeholder="Destination" required>
          </div>
          <div class="row">
            <label class="control-label" for="route"><i class="fa fa-paper-plane fa-lg"></i>Route</label>
            <input type="text" data-ng-model="activity.route" id="name" class="form-control" placeholder="Route" required>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>