<section data-ng-controller="ActivitiesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Activities</h1>
    </div>
    <div class="row">
      <div class="col-md-4" data-ng-repeat="activity in activities">
        <a data-ng-href="#!/activities/{{activity._id}}" class="activity-item">
          <img class="activity-cover" src="modules/activities/img/basketball.jpg">
            <small class="activity-details">
              Posted on
              <span data-ng-bind="activity.created | date:'short'"></span>
              by
              <span data-ng-bind="activity.user.displayName"></span>
            </small>
            <h4 class="activity-name" data-ng-bind="activity.name"></h4>
            <h5 class="activity-datetime" data-ng-bind="activity.dateTime | date:'EEEE, MMMM d, y h:mm a'"></h5>
        </a>
      </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!activities.$resolved || activities.length">
        No Activities yet, why don't you <a href="/#!/activities/create">create one</a>?
    </div>
</section>