<section id="view-activity" ng-controller="ViewActivityCtrl">
  <div class="page-header">
    <h1 data-ng-bind="activity.name"></h1>
  </div>
  <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == activity.user._id))">
    <a class="btn btn-primary" href="/#!/activities/{{activity._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="activity.created | date:'mediumDate'"></span>
      by
      <span ng-bind="activity.user.displayName"></span>
    </em>
  </small>
  <section>
  <div class="field">
    <div class="col-md-2 field-name">Category:</div>
    <div class="col-md-10 field-value" ng-bind="activity.category"></div>
  </div>
  <div class="field">
    <div class="col-md-2 field-name">Date and Time</div>
    <div class="col-md-10 field-value" ng-bind="activity.dateTime | date:'EEEE, MMMM d, y h:mm a'"></div>
  </div>
  <div class="field">
    <div class="col-md-2 field-name">Destination:</div>
    <div class="col-md-10 field-value" ng-bind="activity.dest"></div>
  </div>
  <div class="field">
    <div class="col-md-2 field-name">Route:</div>
    <div class="col-md-10 field-value" ng-bind="activity.route"></div>
  </div>
  </section>
  <section>
    <label><i class="fa fa-comments fa-lg"></i> Discussions</label>
    <commentitem datasource="comment" ng-repeat="comment in comments"></commentitem>
    <commenteditor foreign-key='{"name":"activity","value":"{{activity._id}}"}' style="width:100%;"></commenteditor>
  </section>
  <div class="activity-factor">
    <label class="control-label"><i class="fa fa-picture-o fa-lg"></i> Pictures and Vedios</label>
    <form id="fileupload" action="{{'/attachments/' + activity._id}}" method="POST" enctype="multipart/form-data" ng-controller="AttachmentUploadCtrl" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="fileupload-buttonbar">
        <div class="col-lg-7">
          <!-- The fileinput-button span is used to style the file input field as button -->
          <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input type="file" name="attachment" multiple ng-disabled="disabled">
          </span>
          <button type="button" class="btn btn-primary start" data-ng-click="submit()">
            <i class="glyphicon glyphicon-upload"></i>
            <span>Start upload</span>
          </button>
          <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
          </button>
          <!-- The global file processing state -->
          <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fade" data-ng-class="{in: active()}">
          <!-- The global progress bar -->
          <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
          <!-- The extended global progress state -->
          <div class="progress-extended">&nbsp;</div>
        </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped files ng-cloak">
          <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
            <td data-ng-switch data-on="!!file.thumbnailUrl">
              <div class="preview" data-ng-switch-when="true">
                <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
              </div>
              <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
            </td>
            <td>
              <p class="name" data-ng-switch data-on="!!file.url">
                <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                  <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                  <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                </span>
                <span data-ng-switch-default>{{file.name}}</span>
              </p>
              <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
            </td>
            <td>
              <p class="size">{{file.size | formatFileSize}}</p>
              <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()">
                <div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div>
              </div>
            </td>
            <td>
              <textarea name="attachDes" ng-model="file.attachDes" placeholder="Say something"></textarea>
            </td>
            <td>
              <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
              </button>
              <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
              </button>
              <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" >
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete</span>
              </button>
            </td>
          </tr>
        </table>
    </form>  
    <div class="attachment-container">
      <attachmentitem datasource="attachment" ng-repeat="attachment in attachments"></attachmentitem>
    </div>
  </div>
</section>
