<section data-ng-controller="DatatablesCtrl" ng-init="init();">
  <h1 class="table-name">My Cohorts</h1>
  <table jq-datatables ao-column-Defs="columnDefs" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Extn.</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cohort in cohorts">
        <td>{{cohort[0]}}</td>
        <td>{{cohort[1]}}</td>
        <td>{{cohort[2]}}</td>
        <td>{{cohort[3]}}</td>
        <td>{{cohort[4]}}</td>
        <td>{{cohort[5]}}</td>
      </tr>
    </tbody>
    </table>
</section>