<section ng-controller="FitnessCtrl">
  <div class="page-header">
    <h1>Statistics of Fitness</h1>
  </div>
  <jq-datatables options="tableOptions" dataset="dataset"></jq-datatables>
  <label class="info-button"><i class="fa fa-pencil-square-o fa-lg"></i> Add Record</label>
  <div ng-form="fitnessForm" class="col-md-12" style="margin-top:20px;" novalidate>
    <div class="col-md-3">
      <div class="input-group" style="width:200px;">
        <input type="date" class="form-control" uib-datepicker-popup="{{'yyyy/MM/dd'}}" ng-model="fitness.fitnessDay" is-open="opened" min-date="'2015-01-01'" max-date="fitness.maxDate" ng-required="true" close-text="Close"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <label>pull-up:</label>
      <input type="number" name="pullup" class="form-control table-field" aria-describedby="pullup" placeholder="50" max="300"  ng-model="fitness.pullup" uib-tooltip="{{validationInfo.pullup}}" tooltip-trigger="none" tooltip-placement="top" tooltip-class="validationTooltip" tooltip-is-open="submitted && fitnessForm.pullup.$invalid" ng-pattern="/^\d+$/" required>
    </div>
    <div class="col-md-3">
      <label>sit-up:</label>
      <input type="number" name="situp" aria-describedby="sit-up" class="form-control table-field" placeholder="100" max="500" ng-model="fitness.situp" uib-tooltip="{{validationInfo.situp}}" tooltip-trigger="none" tooltip-placement="top" tooltip-class="validationTooltip" tooltip-is-open="submitted && fitnessForm.situp.$invalid" ng-pattern="/^\d+$/" required>
    </div>
    <div class="col-md-3">
      <label>running:</label>
      <input type="number" name="running" aria-describedby="running" class="form-control table-field" placeholder="5" max="20" ng-model="fitness.running" uib-tooltip="{{validationInfo.running}}" tooltip-trigger="none" tooltip-placement="top" tooltip-class="validationTooltip" tooltip-is-open="submitted && fitnessForm.running.$invalid" ng-pattern="/^\d+$/" required>
    </div>
  </div>
  <input type="submit" class="btn btn-success pull-right" value="Add" ng-click="addRecord()">
  <div ng-show="error" class="text-danger">
    <strong ng-bind="fitness.error"></strong>
  </div>
</section>