

.attachment-container {
  width: 100%;
  height: 490px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #9acfea;
  border-radius: 5px;
  background-color: #fafafa;
  text-align: center;
}

.attachment-container img {
  margin: 20px auto;
}