.hidden-stuff {
  display: none;
}

.activity-item {
  position: relative;
  width: 330px;
  height: 406px;
  display: block;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255, 0.8);
  box-shadow: 0 6px 15px 2px rgba(0,0,0, 0.4);
}

a.activity-item {
  color: #555;
  text-decoration: none;
}

a.activity-item:hover {
  border-color: #999;
}

.activity-cover {
  /*margin: 15px;*/
}

.activity-details {
  margin: 5px
}

.activity-name {
  margin: 5px;
}

.activity-datetime {
 text-align: right;
 margin: 5px 5px 0px 5px;
}

.control-label {
  margin-top: 10px;
}

.control-label .fa,.cat-label .fa {
  margin-right: 5px;
}

.attachment-container {
  border: 1px solid #9acfea;
  border-radius: 5px;
  padding: 10px;
}

.files video {
  max-width: 320px;
  max-height: 180px;
}

.activity-factor {
  margin-top: 10px;
  margin-bottom: 10px;
}

#create-activity .activity-factor {
  margin-top: 10px;
  margin-bottom: 20px;
}

.activity-factor > label {
  color: #fff;
  background-color: #333;
  padding: 2px 8px;
  border-radius: 3px;
}

#view-activity .activity-factor > p {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 4px;
}