<section ng-controller="ViewAttachmentCtrl" ng-init="findOne()">
  <div class="page-header original-attach">
    <img ng-if="attachment.fileType==='picture'" ng-src="{{attachment.path}}" ng-click="playAttachment($event)">
    <video ng-if="attachment.fileType==='video'" controls="controls">
      <source ng-src="{{attachment.path}}" type="video/mp4" />
    </video>
  </div>
  <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == attachment.uploader._id))">
    <a class="btn btn-primary" href="/#!/attachments/{{attachment._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    </div>
  <small>
    <em class="text-muted">
      Uploaded on
      <span data-ng-bind="attachment.dateTime | date:'MMMM d, y \'at\' h:mm a'"></span>
      by
      <span data-ng-bind="attachment.uploader.displayName"></span>
    </em>
  </small>
  <div style="margin-top:20px;">
    <label style="display:block;"><i class="fa fa-comments fa-lg"></i> Discussions</label>
    <commentitem datasource="comment" ng-repeat="comment in comments"></commentitem>
    <commenteditor foreign-key='{"name":"attachment","value":"{{attachment._id}}"}' style="width:100%;"></commenteditor>
  </div>
</section>